/* ==============================
   BOTÓN PRINCIPAL – MALAÍKA
============================== */

.btn-primary {
  display: inline-block;
  padding: 1rem 2.4rem;
  border-radius: 40px;
  border: 1px solid transparent;

  background-color: #a8805d;
  color: #fff;

  font-size: 0.8rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: transparent;
  color: #a8805d;
  border-color: #a8805d;
}


